h1{
    font-size: 32px;
}
.btn{
    background-color: blue;
    color: black;
    padding: 20px 40px;
    font-size: 18px;
    text-align: center;
}
.title-one {
    text-align: center;
}
.text-one{
    font-size: 24px;
    font-style:normal;
}
.text-two{
    text-transform:capitalize;
}
.text-three{
    text-transform:uppercase;
    text-align: right;
}
.text-four{
    font-weight:700;
}